<clickhouse>
    <keeper_server>
        <tcp_port>{{ clickhouse_keeper_port }}</tcp_port>
        <server_id>{{ clickhouse_node_id }}</server_id>
        <log_storage_path>/var/lib/clickhouse/coordination/log</log_storage_path>
        <snapshot_storage_path>/var/lib/clickhouse/coordination/snapshots</snapshot_storage_path>

        <coordination_settings>
            <operation_timeout_ms>10000</operation_timeout_ms>
            <session_timeout_ms>30000</session_timeout_ms>
            <raft_logs_level>warning</raft_logs_level>
        </coordination_settings>

        <raft_configuration>
{% for host in groups['clickhouse'] %}
            <server>
                <id>{{ hostvars[host].clickhouse_node_id }}</id>
                <hostname>{{ hostvars[host].node_ip | default(hostvars[host].ansible_host) }}</hostname>
                <port>{{ clickhouse_keeper_raft_port }}</port>
            </server>
{% endfor %}
        </raft_configuration>
    </keeper_server>

    <zookeeper>
{% for host in groups['clickhouse'] %}
        <node>
            <host>{{ hostvars[host].node_ip | default(hostvars[host].ansible_host) }}</host>
            <port>{{ clickhouse_keeper_port }}</port>
        </node>
{% endfor %}
    </zookeeper>
</clickhouse>
