mirrors:
  "{{ registry_hostname }}:{{ registry_port }}":
    endpoint:
      - "http://{{ registry_hostname }}:{{ registry_port }}"
  # docker.io:
  #   endpoint:
  #     - "http://{{ registry_hostname }}:{{ registry_port }}"
